http://app.localhost {
	@sw path /sw.js /dev-sw.js /service-worker.js
	handle @sw {
		header Cache-Control "no-store"
		root * /srv/frontend
		file_server
	}

	handle_path /api/* {
		reverse_proxy api:8000
	}

	root * /srv/frontend
	try_files {path} /index.html
	file_server
}

http://sync.localhost {
	reverse_proxy powersync:8080
}
